
  <div class="signup-container">
  		<!-- Header -->
  		<div class="signup-header">
  			<a href="index.html" class="logo">
  				<img src="assets/demo/logo-big.png" alt="" style="margin-top: -5px;">&nbsp;
  				PixelAdmin
  			</a> <!-- / .logo -->
  			<div class="slogan">
  				Simple. Flexible. Powerful.
  			</div> <!-- / .slogan -->
  		</div>
  		<!-- / Header -->

  		<!-- Form -->
  		<div class="signup-form">
  			<form>

  				<div class="signup-text">
  					<span>Create an account</span>
  				</div>

  				<div class="form-group w-icon">
  					<input class="form-control input-lg" ng-model="register.user_name" placeholder="Seu Nome" type="text">
  					<span class="fa fa-info signup-form-icon"></span>
  				</div>

  				<div class="form-group w-icon">
  					<input class="form-control input-lg" ng-model="register.user_email" placeholder="E-mail" type="text">
  					<span class="fa fa-envelope signup-form-icon"></span>
  				</div>

  				<div class="form-group w-icon">
  					<input class="form-control input-lg" ng-model="register.user_password" placeholder="Password" type="password">
  					<span class="fa fa-lock signup-form-icon"></span>
  				</div>

  				<div class="form-group" style="margin-top: 20px;margin-bottom: 20px;">
  					<label class="checkbox-inline">
  						<input name="signup_confirm" class="px" id="confirm_id" type="checkbox">
  						<span class="lbl">I agree with the <a href="#" target="_blank">Terms and Conditions</a></span>
  					</label>
  				</div>

  				<div class="form-actions">
  					<input value="Registrar" ng-click="register.register()" class="signup-btn bg-primary" type="button">
  				</div>
  			</form>
  			<!-- / Form -->
        {{register}}

  			<!-- "Sign In with" block -->
  			<div class="signup-with">
  				<!-- Facebook -->
  				<a href="index.html" class="signup-with-btn" style="background:#4f6faa;background:rgba(79, 111, 170, .8);">Sign Up with <span>Facebook</span></a>
  			</div>
  			<!-- / "Sign In with" block -->
  		</div>
  		<!-- Right side -->
  	</div>
  <div class="have-account">
  	Já tem uma conta? Faça seu <a href="#/login">Login</a> já.
  </div>
